body {
  font-family: Otto, Verdana, sans-serif;
  font-size: 28pt;
  background-image:url('img/tetrad.jpg');
}

@font-face {
  font-family: Otto;
  src: url(font/Otto/Otto.ttf);
}

.container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 40%;
  margin-left: 30%;
}

/* 
  - actionField must have fixed width
  - see where classes can become ids (and read if it is necessary (i think it is))
  - current background is not seamless, find a seamless one
  - font http://www.1001fonts.com/otto-font.html
  - why does the buttonField need font-family & size defined additionaly?
*/

.timeField, .actionField, .scoreField, .countField {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

.timeField {
  align-content: center;
  justify-content: center;
}

.gameField, .buttonField {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
}

.row {
  display: block;
  vertical-align: top;
  background-color: #FFB6C1;
  outline: none;
  border: none;
  width: 100%;
}

.cell {
  display: inline-block;
  vertical-align: top;
  background-color: white;
  outline: none;
  cursor: pointer;
  /*border: 1px black solid;*/
  font-size: 32pt;
  text-align: center;
  text-transform: uppercase;
  width: 30px;
  margin: 1px;
}

.cell.selected {
  background-color: #FFFF99
}

.header {
  font-weight: bold;
  text-transform: uppercase;
}

#score, #highScore, #timer, #rowCount, #cellCount {;
  width: 150px;
  /*border: 1px solid black;*/
  text-align: center;
  margin: 5 5 0 0px;
}

#rules {
  border: none;
  border-radius: 10px;
  background-color: #F5DFE6;
  outline: none;
  padding: 15px;
  margin: 10px;
  box-shadow: 3px 3px #FFC0CB;
}

#clearRules {
  float: right;
  font-size: 10pt;
  color: #FFF0F5;
  font-weight: bold;
  text-shadow: 3px 3px #FFC0CB;
  cursor: pointer;
  outline: none;
}

button {
  font-family: Otto;
  font-size: 28pt;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: #FFF0F5;
  outline: none;
  cursor: pointer;
  margin: 0 5 5 5px;
}

button:active, button:focus, button:hover {
  background-color: #F5DFE6;
}