body {
  font-family: Quikhand, Verdana, sans-serif;
  font-size: 18pt;
  background-image:url('img/back.jpg');
}

@font-face {
  font-family: Quikhand;
  src: url(font/quikhand/Quikhand.ttf);
}

#header {
  font-size: 24pt;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 
  - see where classes can become ids (and read if it is necessary (i think it is))
  - find better suiting backup fonts
  - why does the buttonField need font-family & size defined additionaly?
  - grid & selection circle
*/

#actionField {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#gameField, .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

#gameField {
  min-width: 346px; /* can be less if cell border does not exist */
}

#scoreField {
  width: 150px;
  text-align: center;
  margin-bottom: 20px;
}

#score, #highscore {
  margin-top: 5px;
}

.header {
  font-weight: bold;
  text-transform: uppercase;
}

.row {
  display: block;
  vertical-align: top;
  outline: none;
  border: none;
  width: 100%;
}

.cell {
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 1px black solid;
  font-size: 32pt;
  text-align: center;
  text-transform: uppercase;
  width: 30px;
  margin: 1px;
  /*border: 3px solid transparent;*/
  border: none;
}

.cell.selected {
  /*border: 3px solid transparent;*/
  border: none;
  background-color: white;
  border-radius: 20px;
}

#rules {
  padding: 15px;
  width: 400px;
}

#clearRules {
  visibility: hidden;
  float: right;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

button {
  font-family: Quikhand;
  font-size: 18pt;
  width: 150px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  text-transform: uppercase;
  outline: none;
  border: 2px solid #E1E8EE;
  cursor: pointer;
  margin: 0 5 5 5px;
}

button:active, button:focus, button:hover {
  background-color: #E1E8EE;
}